.card {
  background-color: lightblue;
  margin: 5px;
  width: 300px;
  border-radius: 5px;
}

.image img {
  border-radius: 5px;
}

.card h4, .card h5, .card p {
  margin: 0 0 5px 2px;
}

.card p {
  font-size: small;
}
