.card {
  background-color: lightblue;
  margin: 5px;
  width: 300px;
  border-radius: 5px;
}

.image img {
  border-radius: 5px;
}

.card .title {
  font-weight: bold;
  font-size: large;
}

.card .author {
  font-weight: bold;
  font-size: small;
}

.card p {
  font-size: small;
  margin: 0 0 5px 2px;
}

.info {
  display: flex;
  align-items: center;
}
